/*common*/
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-size: 14px; }
body { color: #000; background-color: #f5f5f5; font-size: 14px; font-family: Arial, 'Microsoft YaHei'; /*cursor:pointer;*/ }
html, body { height: 100%; }
a{cursor:pointer;}
.ngCloak{display:none;}
.container-fluid { max-width: 720px;min-width:320px; height: 100%;box-sizing:border-box; }
fieldset,
img { border: 0; display: block; max-width: 100%; height: auto; }
ol, ul, dl, li, dt, dd { list-style: none; padding: 0; }
h1,
h2,
h3,
h4,
h5,
h6 { font-size: 100%; font-weight: normal; }
em,
s,
i { font-style: normal; }
input,
button,
select,
textarea { border: 0; border-radius: 5px; outline: none; appearance: none; -webkit-appearance: none; -moz-appearance: none; }
textarea { resize: none; }
a { text-decoration: none; color: #3c3c3c; display: inline-block; }
a:hover { color: #333; }
a { text-decoration: none; color: #3c3c3c; display: inline-block; }
a:hover { color: #333; }
a:link, a:hover, a:visited { text-decoration: none; }
/*按钮*/
.btn-default { border-color: #00cd8c; background: #FFF; color: #00cd8c; border-radius: 3px; }
.btn-default:hover { border-color: #00cd8c; background: #efefef; color: #00cd8c; }
.btn-default:active { border-color: #00cd8c; background: #efefef !important; color: #00cd8c; }

.btn-primary { border-color: #00cd8c; background: #00cd8c; color: #FFF; border-radius: 3px; }
.btn-primary:hover { border-color: #00cd8c; background: #00cd8c; color: #FFF; }
.btn-primary:active { border-color: #00cd8c; background: #00cd8c !important; color: #FFF; }
.backWhite { background: #fff; }
.back-white { background: #FFF !important; padding: 10px; }
.ngCloak { display: none; }
/*日期组件边框*/
[date-picker] { border-radius: 0px; background-color: #fff; border: 1px solid #eee; }
[date-picker] table { width: 100%; }
.date-picker-over { position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.3); }

@-webkit-keyframes fade-scale-02 {
    0% { opacity: 0; -webkit-transform: scale(.2); transform: scale(.2); }
    100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
}

@-o-keyframes fade-scale-02 {
    0% { opacity: 0; -o-transform: scale(.2); transform: scale(.2); }
    100% { opacity: 1; -o-transform: scale(1); transform: scale(1); }
}

@keyframes fade-scale-02 {
    0% { opacity: 0; -webkit-transform: scale(.2); -o-transform: scale(.2); transform: scale(.2); }
    100% { opacity: 1; -webkit-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.animation-zoom { -webkit-animation: fade-scale-02 250ms backwards; animation: fade-scale-02 250ms backwards; }

.login {  padding: 15px; width: 280px; margin: 50px auto; }
.login .loginTip { width: 100%; height: 30px; line-height: 30px; font-size: 16px; color: #666; padding-left: 15px; font-weight: bold; text-align: center; }

.header { height: 50px; background-color: #4D5F84; color: #fff; min-width:320px;box-sizing:border-box;padding:0px;margin:0;}
.header .brand { font-size: 18px; font-weight: bold; line-height: 80px; }
.header .user-nav-wrap{width:100%;overflow:hidden;-webkit-overflow-scrolling: touch;overflow-scrolling: touch;}
.header .user-nav {  color: #fff; width:510px;}
.header .user-nav li { line-height:50px;float: left; margin-right: 15px; }
.header .user-nav li a { color: #fff; }


.main { position: relative; height: calc(100% - 80px); }
.mleft { width: 240px; position: absolute; top: 0; left: 0; padding: 0 0 15px 0; background-color: #4D5F85; color: #fff; height: 100%; overflow: hidden; overflow-y: auto; z-index: 1; }

.mright { width: 100%; padding-top: 15px; padding-bottom: 15px; padding-right: 15px; padding-left: 255px; height: 100%; overflow: hidden; overflow-y: auto;padding-top:0; }
.menu dl { border-bottom: 1px solid #4A5E79; background-color: #52648A; }
.menu dl dt { border-left: 4px solid #627078; color: #d2d8e4; padding: 12px 0 12px 25px; }
.menu dl dd { }
.menu dl dd a { color: #a6afc2; background-color: #4D5F85; padding-top: 13px; padding-bottom: 13px; padding-left: 50px; border-left: 4px solid #4D5F85; width: 100%; }
.menu dl dd a:hover { color: #FFF; border-left: 4px solid #233342; background: #374769; }
.menu dl dd .leftmenu-dot { display: inline-block; background: #AEB2B7; width: 5px; height: 5px; border-radius: 50px; margin-right: 10px; margin-bottom: 2px; }
.mright .path-nav{color:#888888;line-height:35px;font-size:14px;background-color:#fff;}

.mrbody{background-color:#fff;border-radius:3px;margin-top:15px;padding:15px;}

.member-edit input.form-control{width:200px;}
.list .operbtn{border-radius:3px;margin-left:3px;margin-right:3px;padding:3px 6px;border:1px solid #00cd8c;}
.pbody{background-color:#fff;padding:15px;min-height:100%;margin-left:-15px;margin-right:-15px;}

.vote .list{border-bottom:1px solid #f2f2f2;padding-top:10px;padding-bottom:10px;}
.vote .list .month{color:#999;margin:0;}
.vote .list .time{color:#999;margin:0;font-size:12px;}
.vote .list .glyphicon-thumbs-up{padding-left:3px;}
.vote .list .glyphicon-thumbs-up:before{position:absolute;left:0;}
.vote .list .right{min-height:85px;padding-left:25px;}
.vote .list .chevron-right{position:absolute;left:0;height:100%;top:0;width:5px;}

.vote .list .chevron-right:after, 
.vote .list .chevron-right:before { border: 10px solid transparent; border-right: 10px solid #fff; width: 0; height: 0; position: absolute; top: 50%; left: -15px; content: ' '; margin-top: -10px; }

.vote .list .chevron-right:before { border-right-color: #f2f2f2; left: -16px; }

.vote .select{}
.vote .god-list{margin-top:15px;}
.vote  .line{border-bottom:1px solid #ccc;margin-top:15px;}
.noData{font-weight:bold;font-size:16px;text-align:center;line-height:24px;}
.send-vote .month-input{width:110px;}
.title{font-weight:bold;font-size:14px;line-height:24px;}

.vote .list .count{font-size:16px;font-weight:bold;}
.title1{font-weight:bold;font-size:18px;text-align:center;padding:8px 15px;margin:0;}
.line-bottom{border-bottom:1px solid #f2f2f2;}
.line-left{border-left:1px solid #f2f2f2;}
.line-right{border-right:1px solid #f2f2f2;}

.input-200{width:200px;}
 .avatar{width:150px;height:150px;background-color:#08a1ef;border-radius:5px;position:relative;overflow:hidden;}
.avatar .default-icon{position:absolute;width:100%;height:100%;left:0;top:0;color:#fff;font-size:100px;line-height:150px;text-align:center;z-index:1;}
.avatar .photo{position:absolute;width:100%;height:100%;left:0;top:0;z-index:2;}
.avatar .photo img {max-height:100%;max-width:100%;}
.avatar .edit{display:none;position:absolute;width:100%;height:100%;left:0;top:0;background-color:rgba(0,0,0,0.6);line-height:150px;text-align:center;color:#fff;cursor:pointer;z-index:3;}
.avatar:hover .edit{display:block;}


/*.crop_wrap{width:568px;height:430px;background:#ccc;}*/

.cropArea { background: #E4E4E4; overflow: hidden; width: 568px; height: 430px; }
.modal-header { padding: 17px 20px; border-bottom: 1px solid #ccd5db; min-height: 21.43px; background-color: #f7f7f7; border-top-left-radius: 6px; border-top-right-radius: 6px; }
.modal-header .close { margin-top: -2px; }
.modal-title { margin: 0; line-height: 1.42857143; }
.modal-title{font-size:18px;color:#76838f;}
.modal-title .action { color: #a3afb7; font-size: 12px; padding-left: 20px; }
.no-line { border: none !important; }

.listavatar_wrap{height:50px;line-height:50px;}
.avatarIcon{display:inline-block;width:40px;height:40px;background-color:rgba(255,255,255,.5);position:relative;overflow:hidden;float:left;}
.avatarIcon .default-icon{position:absolute;width:100%;height:100%;left:0;top:0;color:#fff;font-size:30px;line-height:40px;text-align:center;z-index:1;}
.avatarIcon .photo{position:absolute;width:100%;height:100%;left:0;top:0;z-index:2;}
.avatarIcon .photo img {max-height:100%;max-width:100%;}
.avatarIcon{margin-top:5px;}
.avatarName{display:inline-block;padding-left:5px;float:left;}

.avatarList{border-radius:5px;background-color:#08a1ef;}
/*.avatarList .default-icon{color:#ccc}*/
.modal-footer .btn{width:88px;}
@media screen and (max-width: 510px) {
    /*.pbody{padding:15px 0;}*/
    .header .user-nav-wrap { overflow-x: auto; }

    .listavatar_wrap{height:auto;line-height:inherit;}
    .listavatar_wrap .avatarIcon { width: 50px; height: 50px; background-color: rgba(255,255,255,.5);  position: relative; overflow: hidden; display:block;float:none;}
   .listavatar_wrap .avatarIcon .default-icon { position: absolute; width: 100%; height: 100%; left: 0; top: 0; color: #fff; font-size: 40px; line-height: 50px; text-align: center; z-index: 1; }
    .listavatar_wrap .avatarIcon .photo { position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 2; }
    .listavatar_wrap .avatarIcon .photo img { max-height: 100%; max-width: 100%; }
    .listavatar_wrap .avatarIcon { margin:0 auto;}
    .listavatar_wrap .avatarName {display:block;float:none; text-align:center;padding-left:0;}
    .listavatar_wrap .avatarList{border-radius:5px;background-color:#08a1ef;}
    .vote .list .time{color:#999;margin:0;font-size:12px;text-align:center;}
   
    .vote .vote-list{position:relative;min-height:120px;}
    .vote .vote-list .col-xs-3{position:absolute;width:100px;left:0;top:15px;}
    .vote .vote-list .col-xs-9{width:100%;padding-left:115px;}
    .vote .list .chevron-right {  left: 100px;}
    .vote .list .right{min-height:120px;}
    /*.vote-rank{padding:0 15px;}
    .send-vote{padding:0 15px;}
    .member-vote-month-filter{}*/
    .member-vote-month-filter .title{font-size:12px;}
    .member-vote-month-filter .filter-right{padding-left:0;}
    .member-vote-month-filter .filter-right input{width:100px;}
    .cropArea {  width: 268px; height: 200px; }
    .modal-title{font-size:14px;}
    .modal-title .action{padding-left:10px;}
    .modal-footer .col-xs-5{width:30%;}
    .modal-footer .col-xs-7{width:70%;}
    .modal-footer .btn{width:80px;}
}